input{
    width: 50px;
    height: 50px;
    border: 1px;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    color: white;
	background-color:blue;
    border-radius: 10px;
    font-style:oblique;
    cursor: pointer;
}
.resultado{
    height: 50px;
    width: 250px;
    border: 1px;
}
div {
    background-color: black;
    height: 480px;
    width: 300px;
}